<div class="content projects">
  <app-hero [headline]="headline"
            [description]="description"
            [images]="images"
            [imageSource]="imageSource"
            [imageOrientation]="imageOrientation">
  </app-hero>

  <div class="wrapper">
    <div class="project" *ngFor="let entry of data">
      <ng-container *ngIf="data.indexOf(entry)%2===1; else image">
        <ng-container *ngTemplateOutlet="info">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="data.indexOf(entry)%2===0; else image">
        <ng-container *ngTemplateOutlet="info">
        </ng-container>
      </ng-container>

      <ng-template #info>
        <div class="info">
          <div class="blue-section">
            <h2>
              <fa-icon class="spaced" [icon]="faLaptopCode" size="lg"></fa-icon>
              {{entry.title | translate}}
              <fa-icon class="spaced" [icon]="faCogs" size="lg"></fa-icon>
            </h2>
            <p class="justified">{{entry.description | translate}}</p>
          </div>
          <div class="gray-section split">
            <div class="descriptor" translate>
              Technologies
            </div>
            <div class="content-list">
              <ul>
                <li *ngFor="let technology of entry.technologies">
                  <fa-icon class="spaced" [fixedWidth]="true"
                           [icon]="technology.icon ? technology.icon : faCog" size="lg"></fa-icon> {{technology.name}}
                </li>
              </ul>
            </div>
          </div>
          <div class="blue-section split">
            <div class="descriptor" translate>
              Status
            </div>
            <div class="status-wrapper">
              <fa-icon class="spaced" [fixedWidth]="true" [icon]="getStatusIcon(entry.status)" size="lg"></fa-icon>
              <span class="status {{getStatusClass(entry.status)}}" translate>
                {{ 'projects.status.' + getStatusClass(entry.status) | translate}}
              </span>
            </div>
          </div>
          <div class="gray-section split">
            <div class="descriptor">
              Links
            </div>
            <div class="content-list">
              <ul>
                <li>
                  <fa-icon class="spaced" [fixedWidth]="true" [icon]="faGlobeEurope" size="lg"></fa-icon> <a href="{{entry.link}}">URL</a><!-- todo: icon condition -->
                </li>
                <li>
                  <fa-icon class="spaced" [fixedWidth]="true" [icon]="faGithub" size="lg"></fa-icon> <a href="{{entry.github}}">GitHub</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="blue-section split">
            <div class="descriptor">
              Type
            </div>
            <div class="content-list" >
              <ul>
                <li *ngIf="entry.partner" class="partner">
                  <fa-icon class="spaced" [fixedWidth]="true" [icon]="faUsers" size="lg"></fa-icon>
                  <span>
                    {{'projects.partner.collaboration' | translate}}:
                    {{entry.partner}}
                  </span>
                </li>
                <li *ngIf="!entry.partner">
                  <fa-icon class="spaced"[fixedWidth]="true" [icon]="faUser" size="lg"></fa-icon> {{'projects.partner.standalone' | translate}}
                </li>
              </ul>
            </div>
          </div>
          <div class="gray-section split">
            <div class="descriptor" translate>
              projects.target.audience
            </div>
            <div class="content-list">
              <ul>
                <li *ngFor="let group of entry.audience">
                  <fa-icon class="spaced" [fixedWidth]="true" [icon]="group.icon ? group.icon : faUsers" size="lg"></fa-icon> {{'projects.target.' + group.name | translate}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #image>
        <div class="image">
          <img *ngIf="entry.imageSrc" src="{{entry.imageSrc}}" alt="{{entry.imageAlt}}">
          <img *ngIf="entry.imageSrcSet" srcset="{{entry.imageSrcSet}}" alt="{{entry.imageAlt}}">
        </div>
      </ng-template>
    </div>

    <div class="back-to-top">
      <app-top-button></app-top-button>
    </div>
  </div>
</div>
