@import "../common.scss";

.contact-component {

  &.wrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  mat-form-field {
    color: $blue;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .flex-section {
    width: 50%;
  }

  .image-wrapper {
    width: 60%;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

