@import "../common.scss";

.contact-component {

  .headline {
    background: $white;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  h1 {
    color: $blue;
    margin: 0;
    text-align: center;
  }

  .wrapper {
    width: 70%;
    margin: 25px 15%;
  }

  mat-form-field {
    color: $blue;
    padding: 0 5px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .flex-section {
    width: 100%;
  }

  .image-wrapper {
    display: none;
  }

  .form-component {
    width: 100%;
  }

  .success-text {
    color: $blue;
    font-weight: bold;
  }

  .error-text {
    color: #D84315;
    font-weight: bold;
  }

  @media only screen and  (min-width: 992px) {
    .flex-container {
      flex-direction: row;
    }

    .flex-section {
      width: 50%;
    }

    .image-wrapper {
      display: block;
      width: 60%;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    .form-component {
      width: 45%;

      &.full-width {
        width: 90%;
      }
    }
  }
}

