@import "../../styles";

button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

fa-icon.spaced-around {
  padding: 0 10px;
}
