<div class="contact-component">

  <app-hero [headline]="headline"
            [description]="description"
            [images]="images"
            [imageSource]="imageSource"
            [imageOrientation]="imageOrientation">
  </app-hero>

  <div class="wrapper">
    <div class="flex-container">
      <div class="flex-section">
        <div class="image-wrapper">
          <img src="assets/img/contact/contact1200.jpg" alt="contact image">
        </div>
      </div>

      <div class="flex-section">
        <mat-form-field appearance="standard" class="form-component">
          <mat-label>{{'contact.name.first' | translate}}*</mat-label>
          <input [(ngModel)]="firstName" matInput>
        </mat-form-field>

        <mat-form-field appearance="standard" class="form-component">
          <mat-label>{{'contact.name.last' | translate}}*</mat-label>
          <input [(ngModel)]="lastName" matInput>
        </mat-form-field>

        <mat-form-field appearance="standard" class="form-component">
          <mat-label>{{'contact.email' | translate}}*</mat-label>
          <input [(ngModel)]="email" matInput>
        </mat-form-field>

        <mat-form-field appearance="standard" class="form-component">
          <mat-label translate>contact.phone</mat-label>
          <input [(ngModel)]="phone" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-component full-width">
          <mat-label>{{'contact.message' | translate}}*</mat-label>
          <textarea [(ngModel)]="message" matInput rows="5" placeholder="..."></textarea>
        </mat-form-field>

        <mat-form-field appearance="standard" class="form-component">
          <mat-label>{{'contact.reason.label' | translate}}*</mat-label>
          <mat-select [(ngModel)]="reason">
            <mat-option value="option">{{'contact.reason.enhancement' | translate}}</mat-option>
            <mat-option value="option" translate>{{'contact.reason.music-wish' | translate}}</mat-option>
            <mat-option value="option" translate>{{'contact.reason.request' | translate}}</mat-option>
            <mat-option value="option" translate>{{'contact.reason.issue' | translate}}</mat-option>
            <mat-option value="option" translate>{{'contact.reason.other' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <p class="form-component {{submittedSuccessfully ? 'success-text' : 'error-text'}}">{{buttonClickText}}</p>
        <button mat-raised-button class="form-component" (click)="handleSubmitButtonClick()" disabled>{{'contact.submit' | translate}}</button>

      </div>
    </div>
  </div>
</div>
