@import "../common.scss";

.dialog {
  .manual-line-break {
    white-space: pre
  }

  &.info {
    color: var(--blue);

    h1 {
      color: var(--blue);
    }
  }

  &.warning {
    color: var(--warning);

    h1 {
      color: var(--warning);
    }
  }

  &.error {
    color: var(--error);

    h1 {
      color: var(--error);
    }
  }

  button {
    padding: 0;
  }
}
