<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let video of videos | async; let i = index" class="entry" [ngClass]="{'active': isSelected(i)}" cdkDrag>
    <div class="click-to-play" (click)="changeVideoByClick(i)">
      <fa-icon [icon]="isSelected(i) ? faVolumeUp : faPlayCircle" size="lg"></fa-icon>
    </div>
    <div class="details">
      <p class="interpret">{{video.artist}}</p>
      <p class="track">{{video.track}}</p>
    </div>
    <div class="click-to-drag" cdkDragHandle>
      <fa-icon class="spaced-around" [icon]="faArrowsAlt" size="lg"></fa-icon>
    </div>
  </div>
</div>
