
<div class="accordion">
  <div *ngFor="let reference of imageReferences">
    <input (click)="changeSelection(reference)" type="radio" name="acc" [id]="reference.imageName | translate" [checked]="reference === imageReferences[0]">
    <label [attr.for]="reference.imageName |translate">
      <fa-icon class="line-start" [icon]="reference.active ? faCaretDown : faCaretRight"></fa-icon>{{reference.creator|translate}}
      <fa-icon class="center-piece" [icon]="faAngleDoubleRight"></fa-icon>{{reference.imageName|translate}}
    </label>
    <div class="panel">
      <div class="reference-image">
        <img src="assets/img/{{reference.imageUrl}}" alt="{{reference.imageName | translate}}">
      </div>
      <div class="reference-text">
        <div class="reference-text-item">
          <div class="indicator">Page:</div>
          <div class="value">{{reference.page | translate}}</div>
        </div>
        <div class="reference-text-item">
          <div class="indicator">Image:</div>
          <div class="value">{{reference.imageName | translate}}</div>
        </div>
        <div class="reference-text-item">
          <div class="indicator">Creator:</div>
          <div class="value">{{reference.creator}}</div>
        </div>
        <div class="reference-text-item">
          <div class="indicator">Original image:</div>
          <div class="value"><a href="{{reference.source}}">{{reference.source}}</a></div>
        </div>
        <div class="reference-text-item">
          <div class="indicator">License:</div>
          <div class="value"><a href="{{reference.licenseLink}}">{{reference.license | translate}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
