@import 'src/styles';

.content-space {
  padding-bottom: 0;
}

.legal-component {
  background: var(--white);
  color: var(--blue);
  position: relative;

  p.legal-text {
    padding: 1rem;
  }


  h2 {
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include md {
    padding: 2rem;
    border-radius: 5px;
    margin: 1rem 15%;

    h2 {
      text-align: left;
    }
  }

  @include xl {
    padding: 2rem 10rem;

    .element-detail {
      flex-direction: row;
    }
  }
}
