<div class="content music-component">

  <app-hero [headline]="headline"
            [description]="description"
            [images]="images"
            [imageSource]="imageSource">
  </app-hero>

  <div class="flex-container">
    <div class="track-list">
      <div class="video-options">
        <ng-container *ngIf="!isMobile(); else mobileMessage">
          <mat-slide-toggle color="primary" [(ngModel)]="autoplay" (change)="handleToggle($event, 'autoplay')">
            {{'music.trackList.autoplay' | translate}}
          </mat-slide-toggle>
          <mat-slide-toggle color="primary" [(ngModel)]="playAll" (change)="handleToggle($event, 'playAll')">
            {{'music.trackList.playAll' | translate}}
          </mat-slide-toggle>
        </ng-container>
        <ng-template #mobileMessage>
          <p translate>music.trackList.noAutoplay</p>
        </ng-template>
        <p>
          <button (click)="triggerShuffle()">
            <fa-icon class="spaced-around" [icon]="faRandom" size="lg"></fa-icon> {{'music.trackList.shuffle' | translate}}
          </button>
          <button (click)="scrollToElement(descriptions)">
            <fa-icon class="spaced-around" [icon]="faBook" size="lg"></fa-icon> {{'music.trackList.info' | translate}}
          </button>
        </p>
      </div>

      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let suggestion of musicSuggestions" class="block" cdkDrag>
          <div [ngClass]="{ 'active': isSelected(musicSuggestions.indexOf(suggestion)), 'even': musicSuggestions.indexOf(suggestion)%2===0, 'odd': musicSuggestions.indexOf(suggestion)%2!==0}">
            <div class="selection-wrapper">
              <div class="entry-left" (click)="changeVideoByClick(musicSuggestions.indexOf(suggestion), video)">
                <div class="flex-container">
                  <div class="icon">
                    <fa-icon class="spaced-around" [icon]="isSelected(musicSuggestions.indexOf(suggestion)) ? faVolumeUp : faPlayCircle" size="lg"></fa-icon>
                  </div>
                  <div class="details">
                    <p class="interpret">{{suggestion.artist}}</p>
                    <p class="track">{{suggestion.track}}</p>
                  </div>
                </div>
              </div>
              <div class="flex-expand" cdkDragHandle>
                <div class="icon move">
                  <fa-icon class="spaced-around" [icon]="faArrowsAlt" size="lg"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="active-video" #video>
      <div class="iframe-container">
        <iframe #videoPlayback [src]="baseUrl + activeVideo.youtube | safe"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="center">
        <h1>{{activeVideo.artist}}
          <fa-icon class="spaced-around" [icon]="faMinus" size="lg"></fa-icon>
          {{activeVideo.track}}</h1>
        <p *ngIf="playAll">
          <fa-icon class="spaced-around" [icon]="faStepBackward"
                   (click)="playPreviousSong()" size="2x"></fa-icon>
          <fa-icon class="spaced-around" [icon]="counterPaused ? faPlayCircle : faPauseCircle"
                   (click)="playPauseVideoCounter()" size="2x"></fa-icon>
          <fa-icon class="spaced-around" [icon]="faStepForward"
                   (click)="playNextSong()" size="2x"></fa-icon>
        </p>
        <p *ngIf="playAll">
          {{'music.playList.nextVideoA' | translate}}
          {{remainingTime}}
          {{'music.playList.nextVideoB' | translate}}
        </p>
      </div>

<!--       <-- todo: active/inactive styling and icon-->
      <div class="flex-container scaling">
        <div class="flex-section">
          <h4 translate>{{'music.addVideo.label' | translate}}</h4>
          <form>
            <label translate>music.addVideo.videoId</label>
            <input [(ngModel)]="inputVideoId" name="inputVideoId" type="text" required="required">
            <label translate>music.addVideo.interpret</label>
            <input [(ngModel)]="inputInterpret" name="inputInterpret" type="text" required="required">
            <label translate>music.addVideo.track</label>
            <input [(ngModel)]="inputTrack" name="inputTrack" type="text" required="required">
            <label translate>music.addVideo.videoDuration</label>
            <span class="number-inputs">
              <input [(ngModel)]="inputDurationMin" name="inputDurationMin" type="number" min="0" max="300"><span class="blue-text"> min </span>
              <input [(ngModel)]="inputDurationSec" name="inputDurationSec" type="number" min="1" max="18000" required="required"><span class="blue-text"> sec</span>
            </span>

            <label>&nbsp;</label>
            <button type="button" (click)="addNewVideo()" translate>music.addVideo.buttonLabel</button>
          </form>

          <h4 translate>music.removeVideo.label</h4>
          <span translate>music.removeVideo.description</span>
          <mat-form-field class="full-width" color="accent">
            <mat-label translate>music.removeVideo.selectLabel</mat-label>
            <mat-select [(ngModel)]="selectedTracks" multiple>
              <mat-option *ngFor="let track of trackList" [value]="track.value">{{track.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label>&nbsp;</label>
          <button type="button" (click)="handleRemoveVideosFromSuggestions()" translate>music.removeVideo.buttonLabel</button>

        </div>
        <div class="flex-section" #descriptions>
          <h4 translate>music.infoSection.autoplayHeadline</h4>
          <p translate>music.infoSection.autoplayDescription</p>
          <h4 translate>music.infoSection.playAllHeadline</h4>
          <p translate>music.infoSection.playAllDescription</p>
          <h4 translate>music.infoSection.reorderVideosHeadline</h4>
          <p translate>music.infoSection.reorderVideosDescription</p>
          <h4 translate>music.infoSection.addDeleteHeadline</h4>
          <p translate>music.infoSection.addDeleteDescription</p>
          <h4 translate>music.infoSection.temporaryHeadline</h4>
          <p translate>music.infoSection.temporaryDescription</p>
        </div>
        <div class="flex-section wide">
          <h4 translate>music.importExport.headline</h4>
          <p translate>music.importExport.description</p>

          <app-import-export #importExportComponent
                             *ngIf="!isMobile()"
                             [musicSuggestions]="musicSuggestions"
                             (tracksImported)="updateOnImport($event)">
          </app-import-export>


        </div>
      </div>
    </div>
  </div>
  <app-top-button></app-top-button>
</div>
