<div class="content music-component">

  <app-hero [headline]="headline"
            [description]="description"
            [images]="images"
            [imageSource]="imageSource">
  </app-hero>

  <div class="flex-container">
    <div class="track-list">
      <div class="video-options">
        <div class="option-category">
          <button class="option-button" (click)="scrollToElement(descriptions)">
            <fa-icon class="spaced-around" [icon]="faBook" size="lg"></fa-icon>
            {{'music.trackList.info' | translate}}
          </button>
          <button class="option-button" (click)="triggerShuffle()">
            <fa-icon class="spaced-around" [icon]="faRandom" size="lg"></fa-icon>
            {{'music.trackList.shuffle' | translate}}
          </button>
        </div>
        <div class="non-mobile-view option-category">
          <mat-slide-toggle color="primary" [(ngModel)]="autoplay" (change)="handleToggle('autoplay')">
            {{'music.trackList.autoplay' | translate}}
          </mat-slide-toggle>
          <mat-slide-toggle color="primary" [(ngModel)]="playAll" (change)="handleToggle('playAll')">
            {{'music.trackList.playAll' | translate}}
          </mat-slide-toggle>
          <mat-slide-toggle color="primary" [(ngModel)]="expandVideo">
            {{'music.trackList.expandVideo' | translate}}
          </mat-slide-toggle>
        </div>
        <div class="mobile-view">
          <p translate>music.trackList.noAutoplay</p>
        </div>
      </div>

      <app-track-list #trackListComponent [musicSuggestions]="musicSuggestions"
                      (changeSelection)="changeVideoByClick($event)"></app-track-list>

    </div>
    <div class="content-area" #contentArea>
      <div class="active-video" [ngClass]="{'expanded': expandVideo}">
        <div class="iframe-container">
          <iframe #videoPlayback [src]="baseUrl + activeVideo.youtube | safe"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
      </div>

      <div class="center">
        <h1>{{activeVideo.artist}}
          <fa-icon class="spaced-around" [icon]="faMinus" size="lg"></fa-icon>
          {{activeVideo.track}}</h1>
        <p *ngIf="playAll">
          <fa-icon class="spaced-around" [icon]="faStepBackward"
                   (click)="playPreviousSong()" size="2x"></fa-icon>
          <fa-icon class="spaced-around" [icon]="counterPaused ? faPlayCircle : faPauseCircle"
                   (click)="playPauseVideoCounter()" size="2x"></fa-icon>
          <fa-icon class="spaced-around" [icon]="faStepForward"
                   (click)="playNextSong()" size="2x"></fa-icon>
        </p>
        <p *ngIf="playAll">
          {{'music.playList.nextVideoA' | translate}}
          {{remainingTime}}
          {{'music.playList.nextVideoB' | translate}}
        </p>
      </div>

      <div class="flex-container">
        <app-add-video class="button-action"></app-add-video>
        <app-delete-video class="button-action"></app-delete-video>
      </div>
      <div class="customize">
        <h4 translate>music.importExport.headline</h4>
        <p translate>music.importExport.description</p>
        <app-import-export #importExportComponent class="non-mobile-view"></app-import-export>
      </div>
      <div class="flex-container wrapped" #descriptions>
        <div class="flex-section">
          <h4 translate>music.infoSection.autoplayHeadline</h4>
          <p translate>music.infoSection.autoplayDescription</p>
        </div>
        <div class="flex-section">
          <h4 translate>music.infoSection.playAllHeadline</h4>
          <p translate>music.infoSection.playAllDescription</p>
        </div>
        <div class="flex-section">
          <h4 translate>music.infoSection.addDeleteHeadline</h4>
          <p translate>music.infoSection.addDeleteDescription</p>
        </div>
        <div class="flex-section">
          <h4 translate>Shuffle [todo]</h4>
          <p translate>Shuffle description [todo]</p>
        </div>
        <div class="flex-section">
          <h4 translate>music.infoSection.reorderVideosHeadline</h4>
          <p translate>music.infoSection.reorderVideosDescription</p>
        </div>
        <div class="flex-section">
          <h4 translate>music.infoSection.temporaryHeadline</h4>
          <p translate>music.infoSection.temporaryDescription</p>
        </div>
      </div>
    </div>
  </div>
  <app-top-button></app-top-button>
</div>
