@import "../common.scss";

.music-component {

  .flex-container {
    display: flex;
    flex-direction: column;

    button {
      margin: 0 5px;
      width: 45%;
    }
  }

  .track-list {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
  }


  .content-area {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;

    .iframe-container {
      position: relative;
      padding-top: 56.25%;
    }

    iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .scaling {
    flex-wrap: wrap;
  }

  .flex-section {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 40%;

    label {
      // maybe change this? only required for text labels? distinction possible?
      display: inline-block;
      text-transform: uppercase;
      min-width: 200px;
      width: 50%;
      padding-right: 5px;
      margin: 10px 0;
      color: #999;
    }

    input[type=text], input[type=number] {
      display: inline-block;
      min-width: 190px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 2px solid var(--blue);
      font-size: 18px;
      color: var(--blue);

      &:focus {
        background: #fbfbfb;
      }
    }

    // FURTHER STYLE ADJUSTMENTS IN PW-52, PW-55, PW-48
    input[type=text], .number-inputs {
      width: 45%;
    }

    .number-inputs {
      display: flex;
      flex-wrap: nowrap;
    }

    input[type=number] {
      text-align: center;
      max-width: 16.5%;
      min-width: 50px;
    }

    button {
      margin-top: 5px;
      margin-bottom: 10px;
    }

  }

  .mobile-view {
    display: block;
  }

  .non-mobile-view {
    display: none;
  }

  @include md() {
    .flex-section {
      width: 95%;
      margin-left: 0;
      margin-right: 0;

      .number-inputs {
        display: inline-block;
      }
    }
  }

  @include lg() {

    .flex-container {
      flex-direction: row;

      button {
        width: auto;
        margin: 0.25rem 0.5rem 0.25rem 0;
      }

      #mat-slide-toggle-1, #mat-slide-toggle-2 {
        margin-bottom: 0.25rem;
      }

      #mat-slide-toggle-2, #mat-slide-toggle-3 {
        margin-top: 0.25rem;
      }
    }

    .track-list {
      width: 325px;
      margin: 1rem 0 1rem 2rem;
    }

    .video-options {
      display: flex;
      position: relative;

      .option-category {
        display: flex;
        flex-direction: column;
        width: 47.5%;
        margin: 0 1.25%
      }
    }


    // todo: do I need this?
    .flex-section {
      padding: 25px 25px 0 25px;
    }

    .content-area {
      margin: 1rem 2rem;
      width: calc(100% - 325px - 6rem);

      .active-video {
        padding: 1rem 15%;
        &.expanded {
          padding: 0;
        }
      }
    }

    .mobile-view {
      display: none;
    }

    .non-mobile-view {
      display: block;
    }
  }

  @include xl() {
    .flex-section {
      width: 45%;

      &.wide {
        width: 100%;
      }
    }
  }


}
