/* IMPORTS & LIBRARIES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'theme/custom-theme';


/* CSS VARIABLES */
:root {
  /* COLORS */
  --blue: #2C5F96;
  --medium-blue: #588bc2;
  --light-blue: #B2ECFF;
  --white: #f2f2f2;
  --light-white: #f8f8f8;
  --dark-gray: #666666;
  --medium-gray: #999999;
  --light-gray: #cccccc;

  --warning: #FFC107;
  --error: #D84315;
}

/* SCSS VARIABLES */
/* BREAKPOINTS */
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xl: 1200px;

/* BREAKPOINT MIXINS */
// MOBILE
@mixin sm {
  @media (min-width: #{$screen-small}) {
    @content;
  }
}

// TABLET or LANDSCAPE
@mixin md {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

// LAPTOP
@mixin lg {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}

// DESKTOP
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}


/* GENERAL STYLES */
html, body {
  margin: 0;
  background: #eaeaea;
  scroll-behavior: smooth;
  height: 100%;

  @include lg {
    .container {
      padding: 0 15%;
    }
  }
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 17px;
  margin: 0;
}

h4 {
  color: var(--blue);
  text-transform: uppercase;
}

h5 {
  color: var(--blue);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}


button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

fa-icon.spaced-around {
  padding: 0 10px;
}


.content-space {
  margin: 0 auto;
  padding: 1.3em 0;
  background: white;
}

.content {
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.disabled-content {
  opacity: 0.6;
  cursor: not-allowed;
}

.under-construction {
  color: crimson;
  font-style: italic;
}
