// breakpoints
// min-width: 576px
// min-width: 768px
// min-width: 992px
// min-width: 1200px

body, html {
  margin: 0;
  background: #eaeaea;
  scroll-behavior: smooth;

  @media only screen and (min-width: 992px) {
    .container {
      padding: 0 15%; //top+bottom right+left
    }

  }
}

body {
  // styling option: open-sans
  // https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans
  // https://stackoverflow.com/questions/49878988/how-to-import-a-new-font-into-a-project-angular-5
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.content-space {
  margin: 0 auto;
  padding: 1.3em 0;
  background: white;
}

.content {
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.disabled-content {
  opacity: 0.6;
  cursor: not-allowed;
}

.under-construction {
  color: crimson;
  font-style: italic;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
