/* GENERAL STYLES */

/* CSS VARIABLES */
:root {
  /* COLORS */
  --blue: #2C5F96;
  --light-blue: #B2ECFF;
  --white: #f2f2f2;
  --light-white: #f8f8f8;
  --beast-gray: #666666;

  --warning: #FFC107;
  --error: #D84315;
}

/* SCSS VARIABLES */
/* BREAKPOINTS */
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xl: 1200px;

/* BREAKPOINT MIXINS */
// MOBILE
@mixin sm {
  @media (min-width: #{$screen-small}) {
    @content;
  }
}

// TABLET
@mixin md {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

// LAPTOP
@mixin lg {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}

// DESKTOP
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

html, body {
  margin: 0;
  background: #eaeaea;
  scroll-behavior: smooth;
  height: 100%;

  @include lg {
    .container {
      padding: 0 15%;
    }
  }
}

body {
  // styling option: open-sans
  // https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans
  // https://stackoverflow.com/questions/49878988/how-to-import-a-new-font-into-a-project-angular-5
  font-family: Roboto, "Helvetica Neue", sans-serif;;
  font-size: 17px;
  margin: 0;
}

h4 {
  color: var(--blue);
  text-transform: uppercase;
}

h5 {
  color: var(--blue);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.content-space {
  margin: 0 auto;
  padding: 1.3em 0;
  background: white;
}

.content {
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.disabled-content {
  opacity: 0.6;
  cursor: not-allowed;
}

.under-construction {
  color: crimson;
  font-style: italic;
}
