footer {
  background: #2C5F96;
  padding: 0.5rem 1rem;
  color: #f2f2f2;

  .edited {
    text-align: center;
    color: #f2f2f2;
    opacity: 0.75;
    font-weight: lighter;

      .date {
        padding-top: 5px;
        padding-left: 20px;
      }
  }

  .links, .edited {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 576px) {
      .date {
        padding-left: 0;
      }
      flex-direction: column;
    }
  }

  .links {
    a {
      color: #f2f2f2;
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    a:hover {
      background: #f2f2f2;
      color: #2C5F96;
    }


    .link-text {
      padding-left: 10px;
    }
  }

}
