footer {
  background: #2C5F96;
  padding: 0.5rem 1rem;
  color: #f2f2f2;

  .edited {
    text-align: center;
    color: #999;

      .date {
        padding-left: 20px;
        color: #f2f2f2;
        font-weight: bolder;
        text-decoration: underline;
      }
  }

  .links, .edited {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 576px) {
      .date {
        padding-left: 0;
      }
      flex-direction: column;
    }
  }

  .links {
    a {
      color: #f2f2f2;
      display: block;
      //text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }


    .link-text {
      padding-left: 10px;
      padding-right: 15px;
    }
  }

}
