<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let suggestion of musicSuggestions" class="entry" [ngClass]="{'active': isSelected(musicSuggestions.indexOf(suggestion))}" cdkDrag>
    <div class="click-to-play" (click)="changeVideoByClick(musicSuggestions.indexOf(suggestion))">
      <fa-icon [icon]="isSelected(musicSuggestions.indexOf(suggestion)) ? faVolumeUp : faPlayCircle" size="lg"></fa-icon>
    </div>
    <div class="details">
      <p class="interpret">{{suggestion.artist}}</p>
      <p class="track">{{suggestion.track}}</p>
    </div>
    <div class="click-to-drag" cdkDragHandle>
      <fa-icon class="spaced-around" [icon]="faArrowsAlt" size="lg"></fa-icon>
    </div>
  </div>
</div>
