@import 'src/styles';

.app-top-button {
  margin: 15px auto;
  text-align: center;

  button {
    width: 40%;
  }

  .separator {
    padding: 0 10px;
  }
}

@media only screen and  (min-width: 992px) {
  .app-top-button {
    display: none;
  }
}
