.blue {
  background: #3440eb;
  color: #eaeaea;
}

.light {
  background: #f8f8f8;
  color: #3440eb;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;

  justify-content: space-between;

  @media only screen and (max-width: 576px) {
    flex-direction: column;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  padding-left: 0;
}

.flex-child {
  width: 50%;
  margin: auto;

  &.custom-flex-text {
    padding-left: 30px;
  }

  @media only screen and (max-width: 576px){
    width: 100%;

    &.custom-flex-img {
      order: 1;
    }
    &.custom-flex-text {
      order: 2;
    }
  }
}


h1 {
  text-align: center;
  color: darkblue;
  margin-bottom: 2rem;
}


h2{
  margin-bottom: 2rem;
  text-decoration: underline;
}

a {
  color: blue;
}
