<!--  <button type="button" class="btn btn-primary">Primary</button>-->
<!--  <button type="button" class="btn btn-secondary">Secondary</button>-->
<!--  <button type="button" class="btn btn-success">Success</button>-->
<!--  <button type="button" class="btn btn-danger">Danger</button>-->
<!--  <button type="button" class="btn btn-warning">Warning</button>-->
<!--  <button type="button" class="btn btn-info">Info</button>-->
<!--  <button type="button" class="btn btn-light">Light</button>-->
<!--  <button type="button" class="btn btn-dark">Dark</button>-->
<!--  <button type="button" class="btn btn-link">Link</button>-->

<h1 translate>home.headline</h1>

<div class="container blue">
  <div class="flex-child custom-flex-img">
      <a target="_blank" href="https://www.pexels.com/@negativespace">
        <img srcset="assets/img/home/zoomed-code-280.jpg 280w, assets/img/home/zoomed-code-440.jpg 440w, assets/img/home/zoomed-code-800.jpg 800w" alt="zoomed code image">
      </a>
  </div>
  <div class="flex-child custom-flex-text">
    <h2 translate>home.techChallengesHeading</h2>
    <p>To me it is important to constantly improve. This includes</p>
    <ul style="list-style-type:square">
      <li>exploring new technologies and frameworks</li>
      <li>having a look at other areas of development</li>
      <li>trying to constantly challenge myself</li>
      <li>implementing private projects like this website</li>
      <li>supporting research by contributing to (open source) projects</li>
    </ul>
  </div>
</div>
<div class="container light">
  <div class="flex-child custom-flex-text">
    <h2>my music heading</h2>
  </div>
  <div class="flex-child custom-flex-img">
    <a target="_blank" href="https://www.pexels.com/@snapwire">
      <img srcset="assets/img/home/audio-280.jpg 280w, assets/img/home/audio-440.jpg 440w, assets/img/home/audio-800.jpg 800w" alt="time-travel image">
    </a>
  </div>
</div>
<div class="container blue">
  <div class="flex-child custom-flex-img">
    <a target="_blank" href="https://www.pexels.com/@brett-sayles?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">
      <img srcset="assets/img/home/network-280.jpg 280w, assets/img/home/network-440.jpg 440w, assets/img/home/network-800.jpg 800w" alt="time-travel image">
    </a>
  </div>
  <div class="flex-child custom-flex-text">
    <h2>home.someOtherHeading</h2>
    <p>paragraph text</p>

  </div>
</div>
<div style="width: 100%; margin-top: 100px">

  <p>Think about adding bootstrap to global style files - try to figure out how to maybe add JS as well - script tag in app.component.html? </p>

  <p>TODO: Think about Pokémon UI Telegram Support</p>

  <p>json+ld</p>

  <p>social sharing stuff with open graph meta tags</p>

  <p>reopen project using terminal ng serve -o</p>

  <p>get final files using ng build --prod</p>
</div>






<!--  <button (click)="firstClick()">Click me</button>-->

