<div class="content">
  <div id="hero">
    <div class="bg-image"></div>
    <div class="heading">
      <h1 translate>home.hero.headline</h1>
      <p translate>home.hero.subline</p>
    </div>
  </div>

  <section class="light">
      <h2 class="center" translate>home.technicalChallenges.headline</h2>
      <p class="dark center subline" translate>home.technicalChallenges.subline</p>
      <div class="full-size space-around">
        <div class="half-size">
          <p translate>home.technicalChallenges.entry1</p>
          <p class="dark" translate>home.technicalChallenges.entry2</p>
          <p translate>home.technicalChallenges.entry3</p>
          <p class="dark" translate>home.technicalChallenges.entry4</p>
        </div>
        <div class="half-size">
          <p translate>home.technicalChallenges.entry5</p>
          <p class="dark" translate>home.technicalChallenges.entry6</p>
          <p translate>home.technicalChallenges.entry7</p>
          <p translate class="dark">home.technicalChallenges.entry8</p>
        </div>
      </div>
  </section>


  <section id="section-b" class="triplet blue">
    <div class="container">
    <ul>
      <li>
        <div class="card">
          <a target="_blank" href="https://www.pexels.com/@negativespace">
            <img srcset="assets/img/home/zoomed-code-280.jpg 280w, assets/img/home/zoomed-code-440.jpg 440w, assets/img/home/zoomed-code-800.jpg 800w" alt="zoomed code image">
          </a>
          <div class="card-content">
            <h3 class="card-title" translate>home.cards.first.headline</h3>
            <fa-icon [icon]="faHeart" size="lg"></fa-icon>
            <p class="justify" translate>home.cards.first.content</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <a target="_blank" href="https://www.pexels.com/@snapwire">
            <img srcset="assets/img/home/audio-280.jpg 280w, assets/img/home/audio-440.jpg 440w, assets/img/home/audio-800.jpg 800w" alt="time-travel image">
          </a>
          <div class="card-content">
            <h3 class="card-title" translate>home.cards.second.headline</h3>
            <fa-icon [icon]="faMusic" size="lg"></fa-icon>
            <p class="justify" translate>home.cards.second.content</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <a target="_blank" href="https://www.pexels.com/@brett-sayles?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">
            <img srcset="assets/img/home/network-280.jpg 280w, assets/img/home/network-440.jpg 440w, assets/img/home/network-800.jpg 800w" alt="time-travel image">
          </a>
          <div class="card-content">
            <h3 class="card-title" translate>header.projects</h3>
            <fa-icon [icon]="faLaptopCode" size="lg"></fa-icon>
            <p class="justify" translate>home.cards.third.content</p>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </section>

  <section class="triplet light">
    <div class="container center">
      <h2 translate>home.japan.headline</h2>
      <p class="subline" translate>home.japan.subline</p>
      <ul>
        <li>
          <p>こんにちは</p>
        </li>
        <li>
          <p><span translate>home.japan.entry-m1</span> 1</p>
          <p class="dark" translate>home.japan.entry-m2</p>
          <p translate>home.japan.entry-m3</p>
          <p class="dark" translate>home.japan.entry-m4</p>
          <p translate>home.japan.entry-m5</p>
          <p class="dark" translate>home.japan.entry-m6</p>
          <p translate>home.japan.entry-m7</p>
          <p class="dark" translate>home.japan.entry-m8</p>
        </li>
        <li>
          <p translate>home.japan.entry-r1</p>
          <p class="dark" translate>home.japan.entry-r2</p>
          <p translate>home.japan.entry-r3</p>
          <p class="dark" translate>home.japan.entry-r4</p>
          <p translate>home.japan.entry-r5</p>
          <p class="dark" translate>home.japan.entry-r6</p>
          <p translate>home.japan.entry-r7</p>
          <p class="dark" translate>home.japan.entry-r8</p>
        </li>
      </ul>
    </div>
  </section>

  <div class="center blue">
    <h2 translate>Additional content</h2>
    <p class="light-blue subline">see other pages</p>
    <div class="full-size">
<!--      <p translate>alpha</p>-->
<!--      <p class="light-blue" translate>beta</p>-->
<!--      <p translate>gamma</p>-->
<!--      <p translate>delta</p>-->
<!--      <p class="light-blue" translate>epsilon</p>-->
<!--      <p translate>zeta</p>-->
      <p translate>entry 1</p>
      <p class="light-blue" translate>entry 2</p>
      <p translate>entry 3</p>
    </div>
  </div>

  <div class="center light">
    <h2 translate>header.contact</h2>
    <p class="dark subline">Do you have some ideas to fine tune this page? Cool! <a routerLink="/contact">Reach out!</a></p>
    <div class="center-block">
      <p>Created to improve my CSS and Angular skills <fa-icon [icon]="faArrowCircleUp" size="lg"></fa-icon></p>
      <p>Made with <fa-icon [icon]="faHeart" size="lg"></fa-icon></p>
    </div>
  </div>

<!--    <p>TODO: Think about Pokémon UI Telegram Support</p>-->
<!--    <p>json+ld</p>-->
<!--    <p>social sharing stuff with open graph meta tags</p>-->
<!--    <p>get final files using ng build --prod --aot=false --buildOptimizer=false</p>-->

  <!--  <button (click)="firstClick()">Click me</button>-->
</div>



