
.duration-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span.number-input-label {
    color: var(--blue);
    white-space: nowrap;
    margin-right: .2rem;
  }

  .number-input {
    margin: 0 .75rem 0 .25rem;
    max-width: 6rem;
  }
}
