<div class="content">
  <div id="hero">
    <div class="bg-image"></div>
    <div class="heading">
      <h1>Music <fa-icon class="down" [icon]="faMusic" size="lg"></fa-icon> Suggestions</h1>
    </div>
  </div>


  <ul>
    <li class="even">
      <div class="overview">
        <div class="initials">PWD</div>
        <div class="entry-details">
          <p class="interpret">Parkway Drive</p>
          <p class="track">
            Pray
            <a [routerLink]="" (click)="toggleEntry(0)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/WL_8ZY89dP4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <div class="initials">IF</div>
        <div class="entry-details">
          <p class="interpret">In Flames</p>
          <p class="track">
            Take This Life
            <a [routerLink]="" (click)="toggleEntry(1)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/GRiC35zeziU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">B</div>
        <div class="entry-details">
          <p class="interpret">Beartooth</p>
          <p class="track">
            Body Bag
            <a [routerLink]="" (click)="toggleEntry(2)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/81CakcFEH0U" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <div class="initials">S</div>
        <div class="entry-details">
          <p class="interpret">Sabaton</p>
          <p class="track">
            Primo Victoria
            <a [routerLink]="" (click)="toggleEntry(3)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/qVHyl0P_P-M" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">T</div>
        <div class="entry-details">
          <p class="interpret">Trivium</p>
          <p class="track">
            Anthem (We Are Fire)
            <a [routerLink]="" (click)="toggleEntry(4)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/Lp8p5OPtEe0?start=12" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">EL</span>
        <div class="entry-details">
          <p class="interpret">Eluveitie</p>
          <p class="track">
            Inis Mona
            <a [routerLink]="" (click)="toggleEntry(5)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/iijKLHCQw5o" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">RA</div>
        <div class="entry-details">
          <p class="interpret">Rise Against</p>
          <p class="track">
            Savior
            <a [routerLink]="" (click)="toggleEntry(6)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/e8X3ACToii0?start=12" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">BE</span>
        <div class="entry-details">
          <p class="interpret">Betontod</p>
          <p class="track">
            Keine Popsongs
            <a [routerLink]="" (click)="toggleEntry(7)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/gFgaQDurt4Y" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">BL</div>
        <div class="entry-details">
          <p class="interpret">Blink 182</p>
          <p class="track">
            What's My Age Again?
            <a [routerLink]="" (click)="toggleEntry(8)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/K7l5ZeVVoCA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">BB</span>
        <div class="entry-details">
          <p class="interpret">Breaking Benjamin</p>
          <p class="track">
            Dance With The Devil
            <a [routerLink]="" (click)="toggleEntry(9)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/IN_FFmeQAC0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">BFMV</div>
        <div class="entry-details">
          <p class="interpret">Bullet For My Valentine</p>
          <p class="track">
            Tears Don't Fall
            <a [routerLink]="" (click)="toggleEntry(10)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/9sTQ0QdkN3Q" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">C</span>
        <div class="entry-details">
          <p class="interpret">Callejon</p>
          <p class="track">
            Major Tom
            <a [routerLink]="" (click)="toggleEntry(11)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/4rYYbFkvd5I" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">Leo</div>
        <div class="entry-details">
          <p class="interpret">Leo Moracchioli</p>
          <p class="track">
            Despacito
            <a [routerLink]="" (click)="toggleEntry(12)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/hcQyFtHMfbs" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">D</span>
        <div class="entry-details">
          <p class="interpret">Disturbed</p>
          <p class="track">
            Down With The Sickness
            <a [routerLink]="" (click)="toggleEntry(13)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/09LTT0xwdfw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">Do</div>
        <div class="entry-details">
          <p class="interpret">Dope</p>
          <p class="track">
            You Spin Me Around
            <a [routerLink]="" (click)="toggleEntry(14)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/Zuh29Xu5nSw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">5FDP</span>
        <div class="entry-details">
          <p class="interpret">Five Finger Death Punch</p>
          <p class="track">
            The Bleeding
            <a [routerLink]="" (click)="toggleEntry(15)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/oDuevEAG6Cc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">LP</div>
        <div class="entry-details">
          <p class="interpret">Linkin Park</p>
          <p class="track">
            With You
            <a [routerLink]="" (click)="toggleEntry(16)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/M8UTS2iFXOo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">M</span>
        <div class="entry-details">
          <p class="interpret">Metallica</p>
          <p class="track">
            Master Of Puppets
            <a [routerLink]="" (click)="toggleEntry(17)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/xnKhsTXoKCI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">SA</div>
        <div class="entry-details">
          <p class="interpret">Sonata Arctica</p>
          <p class="track">
            The Cage
            <a [routerLink]="" (click)="toggleEntry(18)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/685br8I_SpU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">SS</span>
        <div class="entry-details">
          <p class="interpret">Stone Sour</p>
          <p class="track">
            Do Me A Favor
            <a [routerLink]="" (click)="toggleEntry(19)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/pSWKVJW-eHk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">DF</div>
        <div class="entry-details">
          <p class="interpret">Dragonforce</p>
          <p class="track">
            Through The Fire And The Flames
            <a [routerLink]="" (click)="toggleEntry(20)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/0jgrCKhxE1s" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">Sum</span>
        <div class="entry-details">
          <p class="interpret">Sum 41</p>
          <p class="track">
            Underclass Hero
            <a [routerLink]="" (click)="toggleEntry(21)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/PEz2d49XTk0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">V</div>
        <div class="entry-details">
          <p class="interpret">Volbeat</p>
          <p class="track">
            Still Counting
            <a [routerLink]="" (click)="toggleEntry(22)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/aXhjp85UNJI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">WCAR</span>
        <div class="entry-details">
          <p class="interpret">We Came As Romans</p>
          <p class="track">
            Glad You Came
            <a [routerLink]="" (click)="toggleEntry(23)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/fs9TLctYsGI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">AA</div>
        <div class="entry-details">
          <p class="interpret">Amon Amarth</p>
          <p class="track">
            Persuit Of Vikings
            <a [routerLink]="" (click)="toggleEntry(24)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/mw0pylT0Tg0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">AE</span>
        <div class="entry-details">
          <p class="interpret">Arch Enemy</p>
          <p class="track">
            The World Is Yours
            <a [routerLink]="" (click)="toggleEntry(25)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/lk2-bgwA0Ro" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">OM&amp;M</div>
        <div class="entry-details">
          <p class="interpret">Of Mice And Men</p>
          <p class="track">
            Bones Exposed
            <a [routerLink]="" (click)="toggleEntry(26)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/IO-JbFtgeX4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
         </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">EC</span>
        <div class="entry-details">
          <p class="interpret">Eskimo Callboy</p>
          <p class="track">
            Crystals
            <a [routerLink]="" (click)="toggleEntry(27)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/qrWPKu37H1E" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">HSB</div>
        <div class="entry-details">
          <p class="interpret">Heaven Shall Burn</p>
          <p class="track">
            Black Tears
            <a [routerLink]="" (click)="toggleEntry(28)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/-PtfyRjkn40" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">HU</span>
        <div class="entry-details">
          <p class="interpret">Hollywood Undead</p>
          <p class="track">
            Party By Myself
            <a [routerLink]="" (click)="toggleEntry(29)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/k1W50hyaUPo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="even">
      <div class="overview">
        <div class="initials">SK</div>
        <div class="entry-details">
          <p class="interpret">Skillet</p>
          <p class="track">
            Hero
            <a [routerLink]="" (click)="toggleEntry(30)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/uGcsIdGOuZY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
    <li class="odd">
      <div class="overview">
        <span class="initials">ADTR</span>
        <div class="entry-details">
          <p class="interpret">A Day To Remember</p>
          <p class="track">
            All I Want
            <a [routerLink]="" (click)="toggleEntry(31)">
              <fa-icon class="down" [icon]="faCaretDown" size="lg"></fa-icon>
              <fa-icon class="up" [icon]="faCaretUp" size="lg"></fa-icon>
            </a>
          </p>
        </div>
      </div>
      <div class="iframe-container">
        <iframe src="https://www.youtube-nocookie.com/embed/Pn-6eOxnEMI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>
