@import "../common.scss";

.import-export {

  textarea {
    width: 98%;
    min-height: 150px;
    max-width: 98%;
  }

  .link {
    cursor: pointer;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

}
