@import "../common.scss";

.import-export {

  textarea {
    width: 98%;
    min-height: 150px;
    max-width: 98%;
  }

  button {
    width: 150px;
  }

  .link {
    cursor: pointer;

    &:hover {
      color: var(--blue);
      text-decoration: underline;
    }
  }

  .checkbox-wrapper {

  }

}
