<div class="import-export">
<mat-tab-group (selectedTabChange)="handleTabChange($event)">
  <mat-tab label="Info">
    <p class="tab-content">
      It is possible to add new videos and remove existing ones. As no data is stored to avoid GDPR
      regulations, the video list resets on page refresh. That is exactly where this feature comes in handy.
      After adjusting the video list, it is possible to export it and import your list the next time, you visit the page.
      If you are experienced with software development, or with the JSON format, you can adjust the list manually.
    </p>
  </mat-tab>
  <mat-tab label="Switch Genre">
    <h5>Change Video List By Genre</h5>
    <mat-form-field class="full-width" color="accent">
      <mat-label>Select Video List</mat-label>
      <mat-select (selectionChange)="changeTrackList($event)">
        <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Import">
      <h5>Import by copying JSON into the textarea</h5>
      <textarea [(ngModel)]="importString"></textarea>
    <button type="button" (click)="importTracks()">Import <fa-icon class="spaced-around" [icon]="faUpload" size="lg"></fa-icon></button>
    <!--                use material dialog?-->
  </mat-tab>
  <mat-tab label="Export">
    <h5>Export videos by clicking the button or simply show a preview by checking the box</h5>
    <p class="double">
      <app-checkbox
        [boxChecked]="exportPreview"
        [labelText]="'Show Preview'"
        (boxChanged)="updatePreviewSelection($event)">
      </app-checkbox>
    </p>

    <div *ngIf="exportPreview">
      <h5>Export Preview</h5>
      <textarea #preview [(ngModel)]="exportString"></textarea>

      <p class="link" (click)="copyToClipboard(preview)">
        Copy preview to clipboard <fa-icon class="spaced-around" [icon]="faClipboard" size="lg"></fa-icon>
      </p>
    </div>
    <button type="button" (click)="exportTracks()">Export <fa-icon class="spaced-around" [icon]="faDownload" size="lg"></fa-icon></button>
  </mat-tab>
</mat-tab-group>
</div>
