@import "../common.scss";
.projects {
  h1 {
    color: $blue;
    font-weight: bolder;
    text-align: center;
  }

  .wrapper {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .project {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background: #fcfcfc;
  }

  .info, .image {
    width: 100%;
  }

  .info {
    order: 2;
    color: $white;

    h2 {
      margin: 0;
      padding: 25px 15px 10px 15px;
      text-align: center;
    }

    p.justified {
      text-align: justify;
    }

    .blue-section {
      background: $blue;
    }

    .gray-section {
      background: #666666;
    }

    .blue-section, .gray-section {
      padding: 0 25px 15px 25px;
    }

    .split {
      display: flex;
      align-items: center;
      padding-top: 15px;
    }

    .descriptor {
      font-weight: lighter;
      font-variant: small-caps;
      width: 40%;
    }

    .content-list {
      width: 60%;
      //padding-top: 10px;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 5px;

          &.partner {
            display: inline-flex;
            align-items: center;
          }
        }
      }
    }

    .status-wrapper {
      width: 60%;
      padding-left: 10px;

      .status {
        padding: 5px;
        border-radius: 5px;

        &.planned {
          background: #bababa;
        }

        &.pending {
          background: darkorange;
        }

        &.progress {
          background: lightgreen;
        }

        &.success {
          background: green;
        }
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: #588bc2;
      }
    }
  }

  .image {
    order: 1;
    padding-top: 20px;
    padding-bottom: 15px;

    img {
      width: 90%;
      border-radius: 3px;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  fa-icon.spaced {
    padding-right: 5px;
  }

  @media only screen and (min-width: 768px) {
    .wrapper {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .info, .image {
      order: 1;
      width: 50%;
      padding-top: 0;
      padding-bottom: 0;
    }

    .image img {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}
