@import "../common.scss";

.legal-component {
  padding: 2rem 10rem;
  border-radius: 5px;
  background: var(--white);
  color: var(--blue);
  margin: 1rem 15%;
  position: relative;

  a:hover {
    text-decoration: underline;
  }

  .reference-table {
    width: 100%
  }

  .mat-header-cell {
    text-transform: capitalize;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .reference-image {
    width: 200px;
    padding: 1rem 2rem;
    position: relative;

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .reference-text {
    padding: .5rem;

    span.indicator {
      display: inline-block;
      font-weight: bold;
      color: var(--beast-gray);
      width: 120px;
    }
  }

  //todo: change to mobile first approach and add media queries
}
