@import 'src/styles';

footer {
  background: var(--blue);
  padding: 0.5rem 1rem;
  color: #f2f2f2;

  .edited {
    text-align: center;
    color: #f2f2f2;
    opacity: 0.75;
    font-weight: lighter;

    .date {
      padding-left: 25px;
    }
  }

  .links, .edited {
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm {
      .date {
        padding-left: 0;
      }
      flex-direction: column;
    }
  }

  .links {
    a {
      color: var(--white);
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    a:hover {
      background: var(--white);
      color: var(--blue);
    }


    .link-text {
      padding-left: 10px;
    }
  }

}
