@import "../common.scss";

.home-component {

  h2{
    margin-bottom: 2rem;
  }

  a {
    color: blue;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 0;
  }

  .subline {
    margin-bottom: 2rem;
  }

  .blue, .light {
    h2 {
      padding-top: 2rem;
    }
  }

  .blue {
    background: $blue;
    color: #f8f8f8;
  }

  .light {
    background: #f8f8f8;
    color: $blue;
  }

  .dark {
    color: #666;
    a {
      color: #666;
    }
  }

  .light-blue {
    color: #B2ECFF;
  }

  .circle-icon {
    padding-right: 5px;
  }

  .full-size {
    &.space-around {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  .half-size {
    p {
      margin-top: 0;
    }
    text-align: left;
  }

  .triplet ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    .justify {
      text-align: justify;
    }

    .wrapper {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }

  }

  .lang-entry {
    margin-left: 5px;
  }

  .card-content {
    padding: 10%;
    line-height: 1.5;
  }

  .center-block {
    text-align: center;
    padding-bottom: 3rem;
  }

  button {
    margin-top: 15px;
  }

  // NON-MOBILE ADAPTIVE STYLING
  @media only screen and  (min-width: 768px) {

    section {
      padding: 3rem 0;
    }

    .triplet {
      ul {
        display: flex;
        justify-content: space-around;
        margin: auto;

        .wrapper {
          width: inherit;
          margin: inherit;
        }
      }

      li {
        width: 31%;
      }

    }

    .card {
      background: #f8f8f8;
      color: $blue;
      min-height: 500px;

      .card-title {
        margin-top: 0;
      }
    }

    .full-size {
      padding-bottom: 2rem;

      &.space-around {
        display: flex;
        padding-left: 18%;
      }
    }

    .half-size {
      margin-left: 10%;
      padding: 0 2.5rem;
      width: 50%;
    }
  }
}


