.input-group {

  position:relative;
  margin-right: 2rem;
  transition: all .3s;

  input[type=number] {
    text-align: center;
    margin-top: 1rem;
  }

  .input-label {
    font-size:1em;
    color: var(--blue);
    display: block;
    transform: translateY(-2rem);
    transform-origin: 0 0;
    transition: all 250ms ease-in-out;
    padding-left: .2rem;
    cursor: text;
  }

  .input-field {
    box-shadow: none;
    background:transparent;
    border:0;
    border-bottom:1px solid var(--medium-gray);
    width:100%;
    transition: all 250ms;
    color: var(--blue);
    font-size: 1.1em;
    padding: 5px;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      border:none;
      outline:none;
      border-bottom:1px solid var(--blue);
    }

    &:focus + .input-label,&:not(:placeholder-shown) + .input-label {
      transform: translateY(-3em) scale(0.75);
    }
  }

  input[type=number].input-field + .input-label {
    transform: translateY(-1.5rem);
  }

  input[type=number].input-field {
    &:focus + .input-label,&:not(:placeholder-shown) + .input-label {
      transform: translateY(-3em) scale(0.75);
    }
  }

  fa-icon.float-top {
    vertical-align: super;
  }

}
