<div class="add-video">
  <h4 translate>{{'music.addVideo.label' | translate}}</h4>
  <form>
    <app-input-group #videoIdInput inputId="videoIdInput" labelText="music.addVideo.videoId"
                     [isRequired]="true" inputType="text">
    </app-input-group>
    <app-input-group #interpretInput inputId="interpretInput" labelText="music.addVideo.interpret"
                     [isRequired]="true" inputType="text">
    </app-input-group>
    <app-input-group #trackInput inputId="trackInput" labelText="music.addVideo.track"
                     [isRequired]="true" inputType="text">
    </app-input-group>

    <div class="duration-group">
      <span class="number-input-label">Video Duration</span>
      <app-input-group class="number-input" #videoLenHourInput inputId="videoLenHourInput" labelText="hours"
                       [isRequired]="false" inputType="number" defaultValue="0">
      </app-input-group>
      <app-input-group class="number-input" #videoLenMinInput inputId="videoLenMinInput" labelText="minutes"
                       [isRequired]="false" inputType="number" defaultValue="3">
      </app-input-group>
      <app-input-group class="number-input" #videoLenSecInput inputId="videoLenSecInput" labelText="seconds"
                       [isRequired]="false" inputType="number" defaultValue="0">
      </app-input-group>
    </div>

    <button type="button" (click)="addNewVideo()" translate>music.addVideo.buttonLabel</button>
  </form>
</div>
