@import "../../../common";

.import-export {

  textarea {
    width: 98%;
    min-height: 150px;
    max-width: 98%;
  }

  button {
    width: 170px;
  }

  .link {
    cursor: pointer;

    &:hover {
      color: var(--blue);
      text-decoration: underline;
    }
  }

  .checkbox-wrapper {

  }

  .sub-selection {
    background: var(--light-white);
    margin: 0 25px;
  }

  .sub-selection--top {
    @extend .sub-selection;
    padding: 25px 30px 10px;
  }

  .sub-selection--bottom {
    @extend .sub-selection;
    padding: 10px 30px;
  }

  .tab-content {
    background: var(--blue);
    padding: 15px 50px;
    color: var(--white);
    border-radius: 4px;
  }

  .tab-form {
    margin: 20px;
  }

  h5,  {
    margin: 20px 10px;
  }

  label, textarea, input[type=text] {
    margin: 10px;
  }

  mat-form-field {
    margin: 0 10px;
    width: calc(100% - 20px);
  }

  label {
    width: auto;
    padding: 0;
  }

  input[type=text] {
    text-align: center;
  }

  button[disabled] {
    background: var(--beast-gray);
    cursor: not-allowed;
  }

}
